@page "/"

<h1>Bienvenido a Mi Blog Personal</h1>
<p>En este Blog podra estar actualizado con las noticias mas importantes sobre temas como: </p>
<ol>
    <li>Deportes</li>
    <li>Tecnologia</li>
    <li>Novedades</li>
    <li>Salud</li>
    <li>Y, Politica</li>
</ol>
